@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700'

body
  font-family: 'Roboto Slab', serif
  font-weight: 400
  background: #EDF3FA

body, h2, h3, p
  margin: 0
  padding: 0

#container
  min-width: 300px

#header
  background: #fff
  padding: 30px 0

  img
    width: 278px
    height: 46px
    display: block
    margin: 0 auto

#garage
  background-image: url(/images/garage.png)
  background-size: cover
  background-position: center
  max-width: 1500px
  margin: 0 auto
  height: 170px

@media (min-width: 375px)
  #garage
    height: 200px

@media (min-width: 768px)
  #garage
    height: 400px

  #garage-container
    height: 400px
    background-image: url(/images/garagebg.png)
    background-size: 5px 400px
    background-position: bottom
    background-repeat: repeat-x

main
  max-width: 1500px
  margin: 0 auto
  padding: 30px 15px 30px 15px
  text-align: center
  color: #666
  font-size: 22px

  h2
    font-size: 35px
    color: #1F72BC
    margin-top: 30px
    font-weight: 700

    &:first-child
      margin-top: 0

  p
    margin-top: 15px

  .jobs
    div
      display: inline-block
      min-width: 280px
      font-size: 20px
      margin: 15px 0 30px 0

      h3
        font-size: 22px
        font-weight: 400

      span
        display: block
        margin: 8px 0 15px 0
        font-weight: 300

      a
        display: inline-block
        background: #428ED1
        border-radius: 5px
        padding: 6px 20px 10px 20px
        font-weight: 700
        color: #fff
        text-decoration: none

  p.contact
    display: block
    width: 80%
    margin: 10px auto 5px auto
    padding-top: 30px
    border-top: 1px solid #ddd
    font-size: 18px
    font-weight: 300
    color: #999