@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700'

body
  font-family: 'Roboto Slab', serif
  font-weight: 400

body, h2, h3, p
  margin: 0
  padding: 0

img#logo
  width: 278px
  height: 46px
  display: block
  margin: 30px auto

@mixin fluid-ratio($large-size, $small-size)
  $width-large: nth($large-size, 1)
  $width-small: nth($small-size, 1)
  $height-large: nth($large-size, 2)
  $height-small: nth($small-size, 2)
  $slope: ($height-large - $height-small) / ($width-large - $width-small)
  $height: $height-small - $width-small * $slope

  padding-top: $slope * 100%
  height: $height

  background-size: cover
  -moz-background-size: cover  /* Firefox 3.6 */
  background-position: center  /* Internet Explorer 7/8 */

#garage
  @include fluid-ratio(1110px 370px, 250px 150px)
  background-image: url(/images/garage.png)
  background-color: #fff

main
  background: #EDF3FA
  padding: 30px 15px 30px 15px
  text-align: center
  color: #666
  font-size: 22px

  h2
    font-size: 35px
    color: #1F72BC
    margin-top: 30px
    font-weight: 700

    &:first-child
      margin-top: 0

  p
    margin-top: 15px

  .jobs
    div
      display: inline-block
      min-width: 280px
      font-size: 20px
      margin: 15px 0 30px 0

      h3
        font-size: 22px
        font-weight: 400

      span
        display: block
        margin: 8px 0 15px 0
        font-weight: 300

      a
        display: inline-block
        background: #428ED1
        border-radius: 5px
        padding: 6px 20px 10px 20px
        font-weight: 700
        color: #fff
        text-decoration: none

  p.contact
    display: block
    width: 80%
    margin: 10px auto 5px auto
    padding-top: 30px
    border-top: 1px solid #ddd
    font-size: 18px
    font-weight: 300
    color: #999