.row
  %form.col.s12{ action: '/apply', method: :post, enctype: 'multipart/form-data' }
    %input{ name: 'job', type: 'hidden', value: job }
    %input{ name: 'trello_list', type: 'hidden', value: trello_list }

    .row
      .input-field.col.s12
        %input#name.validate{ name: 'name', type: 'text', required: false }
        %label{ for: 'name' } Nome

    .row
      .input-field.col.s12
        %input#email.validate{ name: 'email', type: 'email', required: false }
        %label{ for: 'email' } Email

    .row
      .input-field.col.s12
        %input#salary.validate{ name: 'salary', type: 'number', required: false }
        %label{ for: 'salary' } Pretensão Salarial

    .row
      .file-field.input-field
        .btn
          %span Curriculum
          %input{ name: 'file', type: 'file' }
        .file-path-wrapper
          %input.file-path.validate{ type: 'text' }

    .row
      %button.btn.right{ type: 'submit', name: 'action' } Submit

    -# %button.right.btn{ type: 'submit', name: 'action' } Submit
