.row
  %form.col.s12{ action: '/apply', method: :post }
    .row
      .input-field.col.s12
        %input#name.validate{ type: 'text', required: true }
        %label{ for: 'name' } Nome

    .row
      .input-field.col.s12
        %input#email.validate{ type: 'email', required: true }
        %label{ for: 'email' } Email

    .row
      .input-field.col.s12
        %input#salary.validate{ type: 'number', required: true }
        %label{ for: 'salary' } Pretensão Salarial

    .row
      .file-field.input-field
        .btn
          %span Curriculum
          %input{ type: 'file' }
        .file-path-wrapper
          %input.file-path.validate{ type: 'text', required: true }

    .row
      %input.right.btn.waves-effect.waves-light{ type: 'submit', name: 'action' }
