---
title: Garage Born Jobs
---

%h1 Jobs

%ul
  %li= link_to 'Remote React Developer', '/jobs/remote-react-developer.html'
  %li= link_to 'Remote Front-end Developer', '/jobs/remote-front-end-developer.html'
