---
title: Remote React Developer
---

%h1 Remote React Developer

%p A Garage Born é uma empresa recém criada por Andreas Diegues (Founder do Click Jogos) e Alexandre Bini (CTO do Click Jogos e Skore). Somos self-funded e queremos fazer produtos que nós mesmos temos vontade de usar.

%p Estamos em busca de nossos primeiros developers, então se você gosta de codar, mas sobretudo gosta de construir um produto do zero, talvez devêssemos trabalhar juntos  =]

%p Você vai trabalhar diretamente com React, React Native, Redux e Server-side Rendering (Node.js) mas também vai acabar codando um pouco de Ruby, CSS, etc.

%p O modelo de contratação é o PJ, o trabalho é 100% remoto então você pode trabalhar de qualquer lugar do seu planeta de origem, seja ele qual for, desde que tenha uma internet decente, use linux ou mac e não tenha um email do hotmail  =]

%iframe{ src: 'https://docs.google.com/forms/d/e/1FAIpQLSd0PYnTM4_HkGwnVdIpGuffEck4t_fTQywFuC9KnJPKapI6hA/viewform?embedded=true', width: 760, height: 1200, frameborder: 0, marginheight: 0, marginwidth: 0, scrolling: 'no'  }
	Loading...
