- content_for(:title, job_title + ' at Garage Born')

#job
  %main
    %h2= job_title

    .job_description= job_description

    %form{ action: '/apply', method: :post, enctype: 'multipart/form-data' }
      %input{ name: 'job', type: 'hidden', value: slug }
      %input{ name: 'trello_list', type: 'hidden', value: trello_list }

      .row
        %label{ for: 'name' } Nome:
        %input{ name: 'name', id: 'name', type: 'text', required: true }

      .row
        %label{ for: 'email' } Email:
        %input{ name: 'email', id: 'email', type: 'email', required: true }

      .row
        %label{ for: 'cover' } Cover letter:
        %textarea{ name: 'cover', id: 'cover', rows: 4, required: true, placeholder: 'Por quê você quer trabalhar conosco?' }

      .row
        %label{ for: 'file' } CV:
        %input{ name: 'file', type: 'file', id: 'file', required: true  }

      .row
        %button.button{ type: 'submit', name: 'action' } Enviar
