- content_for(:title, 'Garage Born')

#garage-container
  #garage

#home
  %main
    %h2 Hello!
    %p We're Garage Born and we make stuff. Oh, and we're hiring!

    %h2 Jobs

    .jobs
      - data.jobs.each do |job|
        %div
          %h3= job.title
          %span= job.location
          = link_to 'Apply', job_path(job), class: 'button'

    %p.contact
      hello@garageborn.com