#header
  %img{ src: '/images/logo.png', alt: 'Garage Born' }

#garage-container
  #garage

%main
  %h2 Hello!
  %p We're Garage Born and we make stuff. Oh, and we're hiring!

  %h2 Jobs

  .jobs
    %div
      %h3 Backend Developer
      %span Remote
      %a{ href: '#' } Apply

    %div
      %h3 Frontend Developer
      %span Remote
      %a{ href: '#' } Apply

    %div
      %h3 UX Designer
      %span Remote
      %a{ href: '#' } Apply

  %p.contact
    hello@garageborn.com