---
title: Garage Born
---

%div{ style: 'position:fixed;top:50%;left: 50%;margin-top:-230px;margin-left:-200px;' }
  = image_tag 'gb.png', style: 'width:400px;height:460px'

%h2= link_to 'Jobs', '/jobs'